# Aleo Testnet
NEXT_PUBLIC_ALEO_RPC_URL=https://api.explorer.provable.com/v2
NEXT_PUBLIC_PRIVYSHARE_PROGRAM_ID=privyshare_files_7879.aleo

# Pinata/IPFS Configuration
NEXT_PUBLIC_PINATA_API_KEY=your_pinata_api_key
NEXT_PUBLIC_PINATA_SECRET_API_KEY=your_pinata_secret
NEXT_PUBLIC_PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/
NEXT_PUBLIC_PINATA_JWT_TOKEN=your_pinata_jwt
PINATA_JWT=your_pinata_jwt
