# Aleo Testnet
NEXT_PUBLIC_ALEO_RPC_URL=https://api.explorer.provable.com/v2
NEXT_PUBLIC_PRIVYSHARE_PROGRAM_ID=privyshare_files_XXXX.aleo

# IPFS (use Pinata, NFT.Storage, or Infura)
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs/
NEXT_PUBLIC_IPFS_API_URL=
NEXT_PUBLIC_IPFS_API_KEY=
NEXT_PUBLIC_IPFS_API_SECRET=

# Optional: Pinata
# NEXT_PUBLIC_IPFS_API_URL=https://api.pinata.cloud
# NEXT_PUBLIC_IPFS_API_KEY=your_pinata_key
# NEXT_PUBLIC_IPFS_API_SECRET=your_pinata_secret
